@model GroupBasicDataViewModel

<div class="group-basic-data-header">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a href="/Groups/@Model.Id"><h3 class="name"><i class="fa fa-users"></i> @Model.Name</h3></a>
                <h4 class="description">@Model.Description</h4>
            </div>
            <div class="col-md-3">
                <div class="extras">
                    <p>Dodatkowe informacje</p>
                    <ul class="group-summary">
                        @if (Model.IsPrivate)
                        {
                            <li class="private" title="Grupa prywatna"><i class="fa fa-lock"></i></li>
                        }
                        else
                        {
                            <li class="public" title="Grupa publiczna"><i class="fa fa-unlock"></i></li>
                        }
                        <li title="Liczba użytkowników"><i class="fa fa-users"></i> @Model.NoOfUsers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>