@import 'mixins/validation.scss';
@import 'mixins/animations.scss';
@import 'mixins/utils.scss';
@import 'mixins/globals.scss';

.main-content {
    position: relative;
    top: 50px;
}

.form-wrapper {
    position: relative;
    top: 20px;
}

.content-wrapper {
    position: relative;
    top: 20px;
}

.form-group {
    .label-validation-message {
        @include validation-message;
    }
}

.validation-summary-errors {
    margin-bottom: 10px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            @include validation-message;
            font-size: 12px;
        }
    }
}

.user-profile-container {
    position: relative;

    .user-profile-section {
        border-bottom: 1px solid #d8d8d8;
        box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.2);
        font-family: $custom-font;
    }

    .user-data {
        z-index: 999;
        text-align: center;

        .user-photo {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 150px;
            width: 100%;
        }

        .user-name {
            margin-top: 10px;
            font-size: 18px;
        }
    }

    .user-achievements {
        margin: 0 8px;

        .user-achievements-content {
            width: 100%;
            background-color: $color-primary;
            position: relative;

            .title {
                padding: 5px;
                margin: 0;
                color: white;
                font-family: $custom-font;
                font-weight: 600;
                font-size: 10px;
            }

            .content {
                height: 0px;
            }
        }

        ul.user-achievements-tabs {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li.tab {
                $on-hover-movement: 5px;

                background-color: $color-default;
                display: inline-block;
                color: white;
                padding: 5px 8px;
                box-shadow: inset 0px 2px 5px -1px rgba(0,0,0,0.3);
                -moz-transition: padding 0.2s ease-in-out;
                -o-transition: padding 0.2s ease-in-out;
                -webkit-transition: padding 0.2s ease-in-out;
                transition: padding 0.2s ease-in-out;

                &:hover {
                    padding-bottom: (8px + $on-hover-movement);
                    cursor: pointer;

                    i {
                        top: (0px + $on-hover-movement);
                    }
                }

                i {
                    -moz-transition: top 0.2s ease-in;
                    -o-transition: top 0.2s ease-in;
                    -webkit-transition: top 0.2s ease-in;
                    transition: top 0.2s ease-in;
                    position: relative;
                    top: 0;
                }
            }

            li.active {
                box-shadow: none;
            }

            li.tab-primary {
                background-color: $color-primary;
            }

            li.tab-warning {
                background-color: $color-warning;
            }

            li.tab-danger {
                background-color: $color-danger;
            }

            li.tab-success {
                background-color: $color-success;
            }

            li.tab-dark {
                background-color: $color-dark;
            }
        }
    }
}

.section-header {
    font-family: $custom-font;
    color: white;
    position: absolute;
    z-index: 99;
    left: 30px;
    background-color: rgba($color-dark, 0.8);
    padding: 3px 5px;
    width: 200px;
    font-weight: 600;
}

.section-header-success {
    background-color: $color-success;
}

.section-header-primary {
    background-color: $color-primary;
}

.section-container {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
}

.news-container {

    .news-row {
        margin-bottom: 20px;

        .news-link {

            .news {
                position: relative;
                box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                &:hover {

                    .news-description-wrapper {
                        background-color: $color-success;
                    }
                }

                .news-social-wrapper {
                    position: absolute;
                    right: 3px;
                    top: 3px;

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            display: inline-block;
                            color: white;
                            background-color: rgba(0,0,0,0.3);
                            text-align: center;
                            @include with-animated-background(300ms);

                            &:hover {
                                background-color: #fafafa;
                            }

                            .icon-wrapper {
                                padding: 3px 5px;
                                font-weight: 600;
                                font-family: $custom-font;
                                color: white;

                                @include with-animated-color(300ms);

                                &:hover {
                                    color: $color-success;
                                }
                            }
                        }
                    }
                }

                .news-description-wrapper {
                    position: absolute;
                    bottom: 0;
                    width: 100%;

                    @include with-animated-background(300ms);
                    background-color: rgba($color-dark, 0.8);

                    .news-text {
                        margin: 0;
                        padding: 0;
                        font-family: $custom-font;
                        color: $color-default;
                    }
                }
            }

            .news.news-big {
                height: 230px;

                .news-description-wrapper {
                    padding: 20px;

                    .news-text {
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: 30px;
                    }
                }
            }

            .news.news-small {
                height: 150px;

                .news-description-wrapper {
                    padding: 6px;

                    .news-text {
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.learning-container {
    .learning-hub {
        width: 100%;
        padding: 15px;
        padding-top: 40px;
        background-color: $color-default;
        margin-bottom: 20px;

        .learning-hub-title {
            color: $color-dark;
            width: 100%;
            font-family: $custom-font;
            font-weight: 800;
            line-height: 1.5;
            border-bottom: 1px solid $color-dark;
        }

        

        .group-container {
            position: relative;
            width: 100%;
            height: 33px;
            margin-bottom: 15px;
            box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);

            background-color: $color-primary;
            @include with-animated-background(300ms);
            &:hover {
                background-color: $color-dark;
            }

            a {
                color: $color-default;

                &:hover {
                    text-decoration: none;
                }

                .title {
                    position: relative;
                    top: 3px;
                    font-weight: 600;
                    margin: 0 5px;
                    padding: 3px;
                    font-family: $custom-font;
                    width: 100%;
                    display: block;

                    @include wrap-dots;
                }

                .group-summary {
                    width: 100%;

                    ul {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        position: relative;
                        top: 5px;

                        li {
                            display: inline-block;
                            margin-right: 5px;
                            font-family: $custom-font;
                        }
                    }
                }
            }
        }
    }
}
