@model IEnumerable<string>

<div class="filter-category-wrapper">
    <ul class="filters-list tags-list">
        @foreach (var tag in Model)
        {
            <li class="filter-item">
                <a href="@( $"/News/Tag/{tag}" )">@( $"#{tag}" )</a>
            </li>
        }
    </ul>
</div>