<ng-transclude></ng-transclude>
<div ng-repeat="group in groupListVm.groups">
    <div class="group-container" ng-attr-title="{{group.name}}">
        <a ng-href="/Groups/{{group.id}}">
            <div class="row">
                <div class="col-xs-8">
                    <div class="title" ng-bind="group.name"></div>
                </div>
                <div class="col-xs-4">
                    <div class="group-summary">
                        <ul>
                            <li>
                                <i class="fa fa-users"></i> {{group.noOfUsers}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>