<li class="tab tab-danger" uib-tooltip="Administracja" tooltip-placement="bottom">
    <a asp-controller="Administration" asp-action="Users">
        <i class="fa fa-plus"></i>  <i class="fa fa-wrench"></i>
    </a>
</li>