<li class="tab tab-primary" uib-tooltip="Utwórz zadanie" tooltip-placement="bottom">
    <a asp-controller="Tasks" asp-action="Create">
        <i class="fa fa-plus"></i>  <i class="fa fa-file"></i>
    </a>
</li>