<li class="tab tab-dark" uib-tooltip="Utwórz newsa" tooltip-placement="bottom">
    <a asp-controller="News" asp-action="Create">
        <i class="fa fa-plus"></i>  <i class="fa fa-pencil"></i>
    </a>
</li>