<li class="tab tab-success" uib-tooltip="Utwórz grupę" tooltip-placement="bottom">
    <a asp-controller="Groups" asp-action="Create">
        <i class="fa fa-plus"></i>  <i class="fa fa-users"></i>
    </a>
</li>