<section class="user-shortcuts-widget">
    <ul class="user-shortcuts-tabs">
        <li class="tab tab-dark" data-toggle="tooltip" data-placement="bottom" title="Utwórz newsa">
            <a asp-controller="News" asp-action="Create">
                <i class="fa fa-plus"></i>  <i class="fa fa-pencil"></i>
            </a>
        </li>
        <li class="tab tab-success" data-toggle="tooltip" data-placement="bottom" title="Utwórz grupę">
            <a asp-controller="Groups" asp-action="Create">
                <i class="fa fa-plus"></i>  <i class="fa fa-users"></i>
            </a>
        </li>
        <li class="tab tab-primary" data-toggle="tooltip" data-placement="bottom" title="Utwórz zadanie">
            <a asp-controller="Tasks" asp-action="Create">
                <i class="fa fa-plus"></i>  <i class="fa fa-file"></i>
            </a>
        </li>
    </ul>
</section>

