<section class="user-shortcuts-widget">
    <ul class="user-shortcuts-tabs">
        @Html.PartialWithClaim("Partials/CreateNewsButton", User, ClaimTypeEnum.News, ClaimValueEnum.News_Create)
        @Html.PartialWithClaim("Partials/CreateGroupButton", User, ClaimTypeEnum.Group, ClaimValueEnum.Group_Create)
        @Html.PartialWithClaim("Partials/CreateTaskButton", User, ClaimTypeEnum.Task, ClaimValueEnum.Task_Create)
        @Html.PartialWithClaim("Partials/AdministrationButton", User, ClaimTypeEnum.Controller, ClaimValueEnum.Controller_AdministrationController)
    </ul>
</section>

