@model string

<link href="~/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />

<style>
    .panel .hint {
        color: darkgoldenrod;
        font-size: 11px;
    }

    #create-task-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

        #create-task-container .short-input {
            max-width: 250px;
        }

        #create-task-container .medium-input {
            max-width: 350px;
        }

        #create-task-container .button {
            margin-left: 0px;
        }

        #create-task-container #add-branch-section {
            margin-top: 15px;
            border: dashed;
            background-color: #FFFDFA;
            padding: 5px;
            border-color: antiquewhite;
        }

        #create-task-container #add-task-button {
            max-width: 250px;
        }
</style>

<div class="container" id="create-task-container" ng-controller="CreateTaskController as createTaskVm" ng-init="createTaskVm.init(@Model)">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span><i class="fa fa-file"></i> | Utwórz nowe zadanie - Krok 1.</span>
            </div>
            <div class="panel-body">
                <form name="addTaskForm" ng-submit="createTaskVm.addTask(addTaskForm)" ng-show="!createTaskVm.IsFirstStepFinished">
                    <label class="control-label"><i class="fa fa-info-circle" style="margin-right: 5px;"></i> Informacje podstawowe</label>
                    <hr style="margin-top: 0px;" />
                    <!-- Main column -->
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Nazwa</label>
                            <input ng-model="createTaskVm.taskName" name="taskName" class="form-control" required ng-minlength="15" ng-maxlength="40" />
                            <span ng-show="addTaskForm.taskName.$error.required" class="text-danger">Nazwa jest wymagana.</span>
                            <span ng-show="addTaskForm.taskName.$error.minlength" class="text-danger">Nazwa jest zbyt krótka.</span>
                            <span ng-show="addTaskForm.taskName.$error.maxlength" class="text-danger">Nazwa jest zbyt długa.</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Opis</label>
                            <textarea ng-model="createTaskVm.taskDescription" name="taskDescription" id="description-text-area" class="form-control" required ng-minlength="50" ng-maxlength="2000"></textarea>
                            <span ng-show="addTaskForm.taskDescription.$error.required" class="text-danger">Opis jest wymagany.</span>
                            <span ng-show="addTaskForm.taskDescription.$error.minlength" class="text-danger">Opis jest zbyt krótki.</span>
                            <span ng-show="addTaskForm.taskDescription.$error.maxlength" class="text-danger">Opis jest zbyt długi.</span>
                        </div>
                    </div>
                    <!-- Side column -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Grupa</label>
                            <select class="form-control medium-input"
                                    ng-model="createTaskVm.selectedUserGroup"
                                    ng-options="option.Name for option in createTaskVm.userGroups track by option.Id"></select>
                        </div>
                        <div class="hint" style="margin-top: -10px;">
                            Zadanie dodane do grupy, będzie widoczne jedynie dla jej użytkowników.
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="control-label">Język</label>
                            <select class="form-control"
                                    ng-model="createTaskVm.selectedLanguage"
                                    ng-options="option.Name for option in createTaskVm.availableLanguages track by option.Id"></select>
                        </div>
                        <div class="hint" style="margin-top: -10px;">
                            Brakuje Twojego języka programowania na liście? Daj nam znać! support@itlearning.com.
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="control-label" ng-model="createTaskVm.isTaskActive" /> Zadanie aktywne
                                </label>
                            </div>
                            <div class="hint" style="margin-top: -10px;">
                                Możesz dodać zadanie teraz, ale aktywować je w czasie późniejszym. Gdy zadanie jest nieaktywne nie jest widoczne
                                dla użytkowników portalu.
                            </div>
                        </div>
                    </div>
                    <!-- Create Button -->
                    <div class="col-md-12">
                        <div style="text-align: center; margin-top: 30px;">
                            <i class="fa fa-spinner fa-pulse" ng-show="createTaskVm.IsPostInProgress"> </i>
                            <button ng-disabled="createTaskVm.IsPostInProgress" class="btn btn-success" id="add-task-button" type="submit"><i class="fa fa-check"></i> Przejdz dalej</button>
                        </div>
                    </div>
                </form>
                <div ng-show="createTaskVm.IsFirstStepFinished" style="text-align: center;">
                    <i class="fa fa-check fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span><i class="fa fa-file"></i> | Utwórz nowe zadanie - Krok 2.</span>
            </div>
            <div class="panel-body">
                <div ng-show="createTaskVm.IsFirstStepFinished && !createTaskVm.IsSecondStepFinished">
                    <label class="control-label"><i class="fa fa-info-circle" style="margin-right: 5px;"></i> Repozytorium kodu</label>
                    <hr style="margin-top: 0px;" />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <div class="col-md-4">
                                <label class="control-label" style="margin-top: 10px; margin-left: 100px;">Link do repozytorium GIT</label>
                                </div>
                                <div class="col-md-8">
                                <input class="form-control" ng-model="createTaskVm.repositoryLink" readonly />
                                    <div class="hint">
                                        Prywatne repozytorium. Przed przejściem do kolejnego kroku wrzuć co najmniej jeden commit inicjalizujący, od którego będą mogli zacząć użytkownicy Twojego zadania.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Create Button -->
                        <div class="col-md-12">
                            <div style="text-align: center; margin-top: 30px;">
                                <div class="btn btn-success" ng-click="createTaskVm.IsSecondStepFinished = true"><i class="fa fa-check"></i> Przejdz dalej</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!createTaskVm.IsFirstStepFinished && !createTaskVm.IsSecondStepFinished" style="text-align: center;">
                    <i class="fa fa-ellipsis-h fa-5x"></i>
                </div>
                <div ng-show="createTaskVm.IsFirstStepFinished && createTaskVm.IsSecondStepFinished" style="text-align: center;">
                    <i class="fa fa-check fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span><i class="fa fa-file"></i> | Utwórz nowe zadanie - Krok 3.</span>
            </div>
            <div class="panel-body">
                <div ng-show="createTaskVm.IsFirstStepFinished && createTaskVm.IsSecondStepFinished">
                    <label class="control-label"><i class="fa fa-info-circle" style="margin-right: 5px;"></i> Podpowiedzi i rozwiązania</label>
                    <hr style="margin-top: 0px;" />
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">Branches</label>
                        </div>
                        <table class="table" id="branches-table">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Opis</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="branch in createTaskVm.branches">
                                    <td>{{branch.name}}</td>
                                    <td style="word-break: break-word">{{branch.description}}</td>
                                    <td style="min-width: 27px;">
                                        <a ng-hide="{{branch.id == 1}}" ng-click="createTaskVm.deleteBranch(branch.id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hint" style="margin-bottom: 10px; margin-top: -10px;">
                            Zapewnimy Ci dostęp do informacji, czy użytkownik korzystał z dodatkowych branch'y, czy nie. W związku z tym
                            proponujemy, abyś dodał branch'e z przykładowym rozwiązaniem lub wskazówkami.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="btn btn-success button" id="add-branch-button" ng-click="createTaskVm.isAddBranchPanelVisible = !createTaskVm.isAddBranchPanelVisible">
                                <i ng-class="createTaskVm.isAddBranchPanelVisible ? 'fa fa-arrow-circle-up' : 'fa fa-arrow-circle-down'"></i>
                                Dodaj branch
                            </div>
                        </div>
                        <div id="add-branch-section" ng-show="createTaskVm.isAddBranchPanelVisible">
                            <div class="inner-container" style="padding: 5px;">
                                <div ng-form="addBranchForm">
                                    <div class="form-group">
                                        <label class="control-label">Nazwa</label>
                                        <input ng-model="createTaskVm.branchName" name="branchName" class="form-control medium-input" ng-required="createTaskVm.isAddBranchPanelVisible" ng-minlength="4" ng-maxlength="10" />
                                        <span ng-show="addBranchForm.branchName.$error.required" class="text-danger">Nazwa jest wymagana.</span>
                                        <span ng-show="addBranchForm.branchName.$error.minlength" class="text-danger">Nazwa jest zbyt krótka.</span>
                                        <span ng-show="addBranchForm.branchName.$error.maxlength" class="text-danger">Nazwa jest zbyt długa.</span>
                                        <span ng-show="createTaskVm.branchNameMustBeUnique" class="text-danger">Nazwa musi być unikalna.</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Opis</label>
                                        <textarea ng-model="createTaskVm.branchDescription" name="branchDescription" class="form-control medium-input" ng-required="createTaskVm.isAddBranchPanelVisible" ng-minlength="20" ng-maxlength="80" style="max-width: 100%;"></textarea>
                                        <span ng-show="addBranchForm.branchDescription.$error.required" class="text-danger">Opis jest wymagany.</span>
                                        <span ng-show="addBranchForm.branchDescription.$error.minlength" class="text-danger">Opis jest zbyt krótki.</span>
                                        <span ng-show="addBranchForm.branchDescription.$error.maxlength" class="text-danger">Opis jest zbyt długi.</span>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success button" id="add-branch-button" ng-click="createTaskVm.addBranch(addBranchForm)"><i class="fa fa-plus"></i> Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Create Button -->
                        <div class="col-md-12">
                            <div style="text-align: center; margin-top: 50px;">
                                <a href="/Tasks/Save/{{createTaskVm.CreatedTaskId}}/{{createTaskVm.shouldActivateTask}}" class="btn btn-success" id="add-task-button" type="submit"><i class="fa fa-check"></i> Gotowe</a>
                            </div>
                        </div>
                    </div>
                <div ng-show="!createTaskVm.IsFirstStepFinished || !createTaskVm.IsSecondStepFinished" style="text-align: center;">
                    <i class="fa fa-ellipsis-h fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/markdown-js/dist/markdown.js"></script>
    <script src="~/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script>
        $(document).ready(function () {
            var markdownOptions = {
                autofocus: false,
                savable: false,
                height: 350
            }

            $("#description-text-area").markdown(markdownOptions);
        });
    </script>
}
