<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 side-section">
                <h4>Zadania</h4>
                <a asp-action="Create" asp-controller="Tasks" class="btn btn-block btn-success">
                    <i class="fa fa-plus"></i> Utwórz zadanie
                </a>
            </div>
            <div class="col-md-9">
                <div class="groups-list">
                    <input type="text" placeholder="Wyszukaj zadanie" class="form-control search-control" />
                    <itl-task-list>
                        <itl-loading-indicator parent-vm="taskListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                    </itl-task-list>
                </div>
            </div>
        </div>
    </div>
</div>