<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 side-section">
                @Html.PartialWithClaim("Partials/CreateTaskButton", User, ClaimTypeEnum.Task, ClaimValueEnum.Task_Create)
            </div>
            <div class="col-md-9">
                <div class="groups-list">
                    <input type="text" placeholder="Wyszukaj zadanie" class="form-control search-control" />
                    <itl-task-list>
                        <itl-loading-indicator parent-vm="taskListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                    </itl-task-list>
                </div>
            </div>
        </div>
    </div>
</div>