@{
    ViewBag.PageTitle = "404!";
}

<div class="error-message-page">
    <h2 class="error-message">404 - Nie odnaleziono podanej strony :(</h2>
    <div class="extra-content">
        <h4 class="error-message">Zobacz co dla ciebie przygotowaliśmy:</h4>
        <ul class="pages-list">
            <li class="pages-list-item">
                <a class="link" asp-action="Index" asp-controller="Home">
                    <p><i class="fa fa-home"></i> Strona główna</p>
                </a>
            </li>
            <li class="pages-list-item">
                <a class="link" asp-controller="User" asp-action="Profile">
                    <p><i class="fa fa-user"></i> Twój profil</p>
                </a>
            </li>
            <li class="pages-list-item">
                <a class="link" href="#">
                    <p><i class="fa fa-code"></i> Zadania</p>
                </a>
            </li>
            <li class="pages-list-item">
                <a class="link" asp-action="Index" asp-controller="Groups">
                    <p><i class="fa fa-users"></i> Grupy</p>
                </a>
            </li>
            <li class="pages-list-item">
                <a class="link" asp-action="All" asp-controller="News">
                    <p><i class="fa fa-newspaper-o"></i> Newsy</p>
                </a>
            </li>
        </ul>
    </div>
</div>