<ng-transclude></ng-transclude>
<div ng-repeat="group in groupListVm.groups track by $index">
    <div class="group-basic-data-item">
        <a ng-href="/Groups/{{group.Id}}">
            <div class="content">
                <p class="group-title" ng-bind="group.Name"></p>
                <ul class="group-summary">
                    <li ng-if="group.IsPrivate" title="Grupa prywatna">
                        <i class="fa fa-lock"></i>
                    </li>
                    <li ng-if="!group.IsPrivate" title="Grupa publiczna">
                        <i class="fa fa-unlock"></i>
                    </li>
                    <li title="Liczba użytkowników">
                        <i class="fa fa-users"></i> {{group.NoOfUsers}}
                    </li>
                </ul>
            </div>
        </a>
    </div>
</div>