<div class="user-item">
    <!--<a ng-href="/Users/Single/{{user.id}}">
        <div class="content">
            <img src="{{user.imagePath}}" alt="{{user.name}}" />
            <p class="user-name" ng-bind="user.name"></p>
        </div>
    </a>-->
    <div class="row">
        <div class="col-xs-4">
            <img src="{{user.imagePath}}" alt="{{user.name}}" class="img-responsive"/>
        </div>
        <div class="col-xs-8">
            <p class="user-name" ng-bind="user.name"></p>
        </div>
    </div>
</div>