/* Bootstrap grid system: */
/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.main-content {
  position: relative;
  top: 50px; }

.form-wrapper {
  position: relative;
  top: 20px; }

.content-wrapper {
  position: relative;
  top: 20px; }

.form-group .label-validation-message {
  color: #e50000;
  font-size: 10px;
  display: block;
  margin-bottom: 3px; }

.validation-summary-errors {
  margin-bottom: 10px; }
  .validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .validation-summary-errors ul li {
      color: #e50000;
      font-size: 10px;
      display: block;
      margin-bottom: 3px;
      font-size: 12px; }

.user-profile-container .user-profile-section {
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Open Sans", Helvetica, sans-serif; }

.user-profile-container .user-data {
  z-index: 999;
  text-align: center; }
  .user-profile-container .user-data .user-photo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 150px;
    width: 100%; }
  .user-profile-container .user-data .user-name {
    margin-top: 10px;
    font-size: 18px; }

.user-profile-container .user-achievements {
  margin: 0 8px; }
  .user-profile-container .user-achievements .user-achievements-content {
    width: 100%;
    background-color: #018ee0;
    border-bottom-right-radius: 5px;
    position: relative; }
    .user-profile-container .user-achievements .user-achievements-content .title {
      padding: 5px;
      margin: 0;
      color: white;
      font-style: "Open Sans", Helvetica, sans-serif;
      font-weight: 600;
      font-size: 10px; }
    .user-profile-container .user-achievements .user-achievements-content .content {
      height: 0px; }
  .user-profile-container .user-achievements ul.user-achievements-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab {
      background-color: #fafafa;
      display: inline-block;
      color: white;
      padding: 5px 8px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: inset 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
      -moz-transition: padding 0.2s ease-in-out;
      -o-transition: padding 0.2s ease-in-out;
      -webkit-transition: padding 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab:hover {
        padding-bottom: 13px;
        cursor: pointer; }
        .user-profile-container .user-achievements ul.user-achievements-tabs li.tab:hover i {
          top: 5px; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab i {
        -moz-transition: top 0.2s ease-in;
        -o-transition: top 0.2s ease-in;
        -webkit-transition: top 0.2s ease-in;
        transition: top 0.2s ease-in;
        position: relative;
        top: 0; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.active {
      box-shadow: none; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-primary {
      background-color: #018ee0; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-warning {
      background-color: #ff8d00; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-danger {
      background-color: #ed4933; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-success {
      background-color: #21b2a6; }
    .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-dark {
      background-color: #2e3842; }

.top-items-container {
  border-bottom: 1px solid #d8d8d8; }
  .top-items-container .top-items-row {
    margin-bottom: 20px; }
    .top-items-container .top-items-row a.top-item {
      width: 100%;
      height: 200px; }
      .top-items-container .top-items-row a.top-item:hover .text {
        text-decoration: underline; }
      .top-items-container .top-items-row a.top-item .top-item-content {
        width: 100%;
        height: 200px;
        position: relative;
        border-radius: 3px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        .top-items-container .top-items-row a.top-item .top-item-content .top-item-description {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px; }
          .top-items-container .top-items-row a.top-item .top-item-content .top-item-description .text {
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 5px;
            font-weight: 600;
            color: white; }
