/**
    Import:

    @import 'mixins/animations.scss';
*/
/**
    Usage:
    
    .somediv {
        background-color: red;

        @include with-animated-background(300ms);

        &:hover {
            background-color: green;
        }
    }
*/
/**
    Usage:
    
    .somediv {
        border-left: 1px solid white;
        border-top: 3px solid gray;

        @include with-animated-border(border-left, 300ms);
        @include with-animated-border(border-top, 500ms);

        &:hover {
            border-left: 1px solid red;
            border-typ: 3px solid blue;
        }
    }
*/
/**
    Usage:
    
    .somediv {
        color: white;

        @include with-animated-color(300ms);

        &:hover {
            color: red;
        }
    }
*/
/* Bootstrap grid system: */
/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.main-content {
  position: relative;
  top: 50px; }

.form-wrapper {
  position: relative;
  top: 20px; }

.content-wrapper {
  position: relative;
  top: 20px; }

.form-group .label-validation-message {
  color: #e50000;
  font-size: 10px;
  display: block;
  margin-bottom: 3px; }

.validation-summary-errors {
  margin-bottom: 10px; }
  .validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .validation-summary-errors ul li {
      color: #e50000;
      font-size: 10px;
      display: block;
      margin-bottom: 3px;
      font-size: 12px; }

.user-profile-container {
  position: relative; }
  .user-profile-container .user-profile-section {
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", Helvetica, sans-serif; }
  .user-profile-container .user-data {
    z-index: 999;
    text-align: center; }
    .user-profile-container .user-data .user-photo {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 150px;
      width: 100%; }
    .user-profile-container .user-data .user-name {
      margin-top: 10px;
      font-size: 18px; }
  .user-profile-container .user-achievements {
    margin: 0 8px; }
    .user-profile-container .user-achievements .user-achievements-content {
      width: 100%;
      background-color: #018ee0;
      position: relative; }
      .user-profile-container .user-achievements .user-achievements-content .title {
        padding: 5px;
        margin: 0;
        color: white;
        font-family: "Open Sans", Helvetica, sans-serif;
        font-weight: 600;
        font-size: 10px; }
      .user-profile-container .user-achievements .user-achievements-content .content {
        height: 0px; }
    .user-profile-container .user-achievements ul.user-achievements-tabs {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab {
        background-color: #fafafa;
        display: inline-block;
        color: white;
        padding: 5px 8px;
        box-shadow: inset 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
        -moz-transition: padding 0.2s ease-in-out;
        -o-transition: padding 0.2s ease-in-out;
        -webkit-transition: padding 0.2s ease-in-out;
        transition: padding 0.2s ease-in-out; }
        .user-profile-container .user-achievements ul.user-achievements-tabs li.tab:hover {
          padding-bottom: 13px;
          cursor: pointer; }
          .user-profile-container .user-achievements ul.user-achievements-tabs li.tab:hover i {
            top: 5px; }
        .user-profile-container .user-achievements ul.user-achievements-tabs li.tab i {
          -moz-transition: top 0.2s ease-in;
          -o-transition: top 0.2s ease-in;
          -webkit-transition: top 0.2s ease-in;
          transition: top 0.2s ease-in;
          position: relative;
          top: 0; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.active {
        box-shadow: none; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-primary {
        background-color: #018ee0; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-warning {
        background-color: #ff8d00; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-danger {
        background-color: #ed4933; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-success {
        background-color: #21b2a6; }
      .user-profile-container .user-achievements ul.user-achievements-tabs li.tab-dark {
        background-color: #2e3842; }

.section-header {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  position: absolute;
  z-index: 99;
  left: 30px;
  background-color: rgba(46, 56, 66, 0.8);
  padding: 3px 5px;
  width: 200px;
  font-weight: 600; }

.section-header-success {
  background-color: #21b2a6; }

.section-header-primary {
  background-color: #018ee0; }

.section-container {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px; }

.news-container .news-row {
  margin-bottom: 20px; }
  .news-container .news-row .news-link .news {
    position: relative;
    box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .news-container .news-row .news-link .news:hover .news-description-wrapper {
      background-color: #21b2a6; }
    .news-container .news-row .news-link .news .news-social-wrapper {
      position: absolute;
      right: 3px;
      top: 3px; }
      .news-container .news-row .news-link .news .news-social-wrapper ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .news-container .news-row .news-link .news .news-social-wrapper ul li {
          display: inline-block;
          color: white;
          background-color: rgba(0, 0, 0, 0.3);
          text-align: center;
          -webkit-transition: background-color 300ms ease;
          -moz-transition: background-color 300ms ease;
          -o-transition: background-color 300ms ease;
          transition: background-color 300ms ease; }
          .news-container .news-row .news-link .news .news-social-wrapper ul li:hover {
            background-color: #fafafa; }
          .news-container .news-row .news-link .news .news-social-wrapper ul li .icon-wrapper {
            padding: 3px 5px;
            font-weight: 600;
            font-family: "Open Sans", Helvetica, sans-serif;
            color: white;
            -webkit-transition: color 300ms ease;
            -moz-transition: color 300ms ease;
            -o-transition: color 300ms ease;
            transition: color 300ms ease; }
            .news-container .news-row .news-link .news .news-social-wrapper ul li .icon-wrapper:hover {
              color: #21b2a6; }
    .news-container .news-row .news-link .news .news-description-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      -o-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      background-color: rgba(46, 56, 66, 0.8); }
      .news-container .news-row .news-link .news .news-description-wrapper .news-text {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", Helvetica, sans-serif;
        color: #fafafa; }
  .news-container .news-row .news-link .news.news-big {
    height: 230px; }
    .news-container .news-row .news-link .news.news-big .news-description-wrapper {
      padding: 20px; }
      .news-container .news-row .news-link .news.news-big .news-description-wrapper .news-text {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px; }
  .news-container .news-row .news-link .news.news-small {
    height: 150px; }
    .news-container .news-row .news-link .news.news-small .news-description-wrapper {
      padding: 6px; }
      .news-container .news-row .news-link .news.news-small .news-description-wrapper .news-text {
        font-weight: 600;
        font-size: 14px; }

.learning-container .learning-hub {
  width: 100%;
  padding: 15px;
  padding-top: 40px;
  background-color: #fafafa;
  margin-bottom: 20px; }
  .learning-container .learning-hub .learning-hub-title {
    color: #2e3842;
    width: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 800;
    line-height: 1.5;
    border-bottom: 1px solid #2e3842; }
  .learning-container .learning-hub .group-container {
    position: relative;
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);
    background-color: #018ee0;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease; }
    .learning-container .learning-hub .group-container:hover {
      background-color: #2e3842; }
    .learning-container .learning-hub .group-container a {
      color: #fafafa; }
      .learning-container .learning-hub .group-container a:hover {
        text-decoration: none; }
      .learning-container .learning-hub .group-container a .title {
        position: relative;
        top: 3px;
        font-weight: 600;
        margin: 0 5px;
        padding: 3px;
        font-family: "Open Sans", Helvetica, sans-serif;
        width: 100%;
        display: block;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden; }
      .learning-container .learning-hub .group-container a .group-summary {
        width: 100%; }
        .learning-container .learning-hub .group-container a .group-summary ul {
          margin: 0;
          padding: 0;
          text-align: center;
          position: relative;
          top: 5px; }
          .learning-container .learning-hub .group-container a .group-summary ul li {
            display: inline-block;
            margin-right: 5px;
            font-family: "Open Sans", Helvetica, sans-serif; }
