<header class="sliding-header">
    <div class="overlay"></div>
    <div class="header-wrapper">
        <h2 class="header-brand">
            <a asp-action="Index" asp-controller="Landing">IT Learning</a>
        </h2>
    </div>
    <div class="menu-wrapper">
        <h2 class="menu-title">
            <span><i class="fa fa-angle-double-left menu-icon"></i></span> Menu
        </h2>
        <nav class="menu">
            <ul class="menu-list">
                <li><a asp-action="Index" asp-controller="Landing">Strona główna</a></li>
                <li><a asp-action="Index" asp-controller="Landing">Logowanie</a></li>
                <li><a asp-action="Index" asp-controller="Landing">Rejestracja</a></li>
                <li><a asp-action="Index" asp-controller="Landing">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>