@model ConfirmGroupAccessViewModel

<div class="container group-access-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4><strong>@Model.Name</strong> to grupa prywatna. Wpisz hasło aby uzyskać dostęp.</h4>
        </div>
    </div>
    <div class="divider divider-half"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>O grupie:</p>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

<div class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="ConfirmGroupAccess" asp-controller="Groups" method="post" role="form">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span><i class="fa fa-lock"></i> | Wpisz hasło</span>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(excludePropertyErrors: true)
                            <div class="row form-controls-row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <input asp-for="Id" type="hidden"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Dołącz" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>