<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 side-section">
                <h4>Grupy</h4>
                <a asp-action="Create" asp-controller="Groups" class="btn btn-block btn-success">
                    <i class="fa fa-plus"></i> Utwórz grupę
                </a>
            </div>
            <div class="col-md-9">
                <div class="groups-list">
                    <input type="text" placeholder="Wyszukaj grupę" class="form-control search-control"/>
                </div>
            </div>
        </div>
    </div>
</div>