@model ManageGroupViewModel

@Html.Partial("Partials/Groups/GroupHeader", Model.BasicDataViewModel)

<div class="content-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 side-section">
                <itl-group-users group-id="@Model.GroupId">
                    <itl-loading-indicator parent-vm-scoped="groupUsersVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                </itl-group-users>
            </div>
            <div class="col-md-6">
                <form asp-action="UpdateGroup" asp-controller="Groups" method="post" role="form" ng-controller="EditGroupController as editGroupVm">
                    <div class="panel panel-success" ng-init="editGroupVm.IsPrivate = @Model.UpdateGroupViewModel.IsPrivate.ToString().ToLower()" style="min-height: 420px;">
                        <div class="panel-heading">
                            <span><i class="fa fa-pencil"></i> | Dane</span>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(excludePropertyErrors: true)
                            <input asp-for="UpdateGroupViewModel.Id" type="hidden" class="form-control" />
                            <div class="form-group">
                                <label asp-for="UpdateGroupViewModel.Name" class="control-label"></label>
                                <input asp-for="UpdateGroupViewModel.Name" class="form-control" />
                                <span asp-validation-for="UpdateGroupViewModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UpdateGroupViewModel.Description" class="control-label"></label>
                                <textarea asp-for="UpdateGroupViewModel.Description" class="form-control" rows="3" style="max-width: 100%;"></textarea>
                                <span asp-validation-for="UpdateGroupViewModel.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="UpdateGroupViewModel.IsPrivate">
                                        <input asp-for="UpdateGroupViewModel.IsPrivate" ng-model="editGroupVm.IsPrivate" /> Grupa prywatna
                                    </label>
                                </div>
                            </div>
                            <div class="row form-controls-row ng-cloak" ng-show="editGroupVm.IsPrivate">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label asp-for="UpdateGroupViewModel.Password" class="control-label"></label>
                                        <input asp-for="UpdateGroupViewModel.Password" class="form-control" placeholder="Nowe hasło" ng-disabled="!editGroupVm.IsPrivate" />
                                        <span asp-validation-for="UpdateGroupViewModel.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label asp-for="UpdateGroupViewModel.PasswordConfirmation" class="control-label"></label>
                                        <input asp-for="UpdateGroupViewModel.PasswordConfirmation" class="form-control" placeholder="Potwierdź nowe hasło" ng-disabled="!editGroupVm.IsPrivate" />
                                        <span asp-validation-for="UpdateGroupViewModel.PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Zapisz" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 side-section" ng-controller="DeletingGroupController as deletingGroupVm">
                <div class="panel panel-success" style="height: 420px;">
                    <div class="panel-heading">
                        <span><i class="fa fa-cog"></i> | Pozostałe</span>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-block btn-default btn-default" ng-click="deletingGroupVm.toggleGroupDeleting()">
                            Usuń grupę
                        </button>
                        <div class="row ng-cloak" ng-show="deletingGroupVm.isGroupDeletingInProgress">
                            <div class="col-xs-6">
                                <form method="POST" action="/Groups/Delete/@Model.GroupId">
                                    <button class="btn btn-block btn-danger" ng-click="deletingGroupVm.confirmGroupDeleting()">
                                        <i class="fa fa-warning"></i> Usuń
                                    </button>
                                </form>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-dark" ng-click="deletingGroupVm.cancelGroupDeleting()">
                                    <i class="fa fa-times"></i> Anuluj
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <itl-loading-indicator parent-vm="manageGroupVm.groupDeleteManager" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>