@using Newtonsoft.Json
@model SingleGroupViewModel

@{
    ViewBag.PageTitle = Model.BasicDataViewModel.Name;
    var taskListResult = JsonConvert.SerializeObject(Model.GroupTasks);
}

@Html.Partial("Partials/Groups/GroupHeader", Model.BasicDataViewModel)

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 side-section">
                @if (Model.AccessType == GroupAccessTypeEnum.Owner)
                {
                    <h4>Zarządzaj</h4>
                    <a asp-action="Manage" asp-controller="Groups" asp-route-group-id="" class="btn btn-block btn-primary">
                        <i class="fa fa-wrench"></i> Zarządzaj grupą
                    </a>
                }
                <h4>Użytkownicy</h4>
                <itl-group-users group-id="@Model.GroupId">
                    <itl-loading-indicator parent-vm-scoped="groupUsersVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                </itl-group-users>
            </div>
            <div class="col-md-9">
                <itl-group-task-list ng-init="taskListVm.activate(@taskListResult)">
                    <itl-loading-indicator parent-vm="taskListVm" dot-background="#333" dot-size="10px"></itl-loading-indicator>
                </itl-group-task-list>
            </div>
        </div>
    </div>
</div>