
@import 'mixins/animations.scss';
@import 'mixins/utils.scss';
@import 'mixins/globals.scss';
@import 'mixins/validation.scss';

$footer-height: 40px;

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

html,
body {
    height: 100%;
}

.main-content {
    height: 100%;
}

body > .main-content {
    height: auto;
    min-height: 100%;
}

body > .main-content > .content {
    padding-top: 50px;
    padding-bottom: $footer-height;
}

.form-wrapper {
    position: relative;
    top: 20px;
}

.content-wrapper {
    position: relative;
    min-height: 100%;
    top: 20px;
    margin-bottom: 20px;
}

.form-group {
    .label-validation-message {
        @include validation-message;
    }
}

.validation-summary-errors {
    margin-bottom: 10px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            @include validation-message;
            font-size: 12px;
        }
    }
}

.user-profile-container {
    position: relative;
    top: 0;

    &:hover {
        .profile-link {
            display: block !important;
        }
    }

    .user-image {
        width: 75%;
        margin: 0 auto;
        display: block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .user-data-container {
        z-index: 99;
        position: relative;
        top: -10px;

        .user-name {
            background-color: white;
            text-align: center;
            font-family: $custom-font;
            padding: 10px 3px;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

            .profile-link {
                position: absolute;
                right: 10px;
                top: 5px;
                display: none;
                color: $color-dark;
                text-decoration: none;
            }

            p {
                margin: 0;
                font-size: 18px;
                color: $color-dark;
            }
        }

        .user-shortcuts-widget {
            margin: 0 8px;

            ul.user-shortcuts-tabs {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li.tab {
                    $on-hover-movement: 5px;

                    background-color: $color-default;
                    display: inline-block;
                    color: white;
                    box-shadow: inset 0px 2px 5px -1px rgba(0,0,0,0.3);
                    -moz-transition: padding 0.2s ease-in-out;
                    -o-transition: padding 0.2s ease-in-out;
                    -webkit-transition: padding 0.2s ease-in-out;
                    transition: padding 0.2s ease-in-out;

                    a {
                        display: block;
                        color: white;
                        padding: 5px 8px;
                    }

                    i {
                        -moz-transition: top 0.2s ease-in;
                        -o-transition: top 0.2s ease-in;
                        -webkit-transition: top 0.2s ease-in;
                        transition: top 0.2s ease-in;
                        position: relative;
                        top: 0;
                    }

                    &:hover {
                        padding-bottom: (8px + $on-hover-movement);
                        cursor: pointer;

                        i {
                            top: (0px + $on-hover-movement);
                        }

                        a {
                            text-decoration: none;
                        }
                    }
                }

                li.tab-primary {
                    background-color: $color-primary;
                }

                li.tab-warning {
                    background-color: $color-warning;
                }

                li.tab-danger {
                    background-color: $color-danger;
                }

                li.tab-success {
                    background-color: $color-success;
                }

                li.tab-dark {
                    background-color: $color-dark;
                }
            }
        }
    }
}

.section-header {
    font-family: $custom-font;
    color: white;
    position: absolute;
    z-index: 99;
    left: 30px;
    background-color: rgba($color-dark, 0.8);
    padding: 3px 5px;
    width: 200px;
    font-weight: 600;
}

.section-header-success {
    background-color: $color-success;
}

.section-header-primary {
    background-color: $color-primary;
}

.section-container {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
}

.news-container {

    .news-row {
        margin-bottom: 20px;

        .news-btns {
            position: absolute;
            left: -33px;

            a {
                font-size: 20px;
            }
        }

        .news {
            position: relative;
            box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &:hover {

                .news-description-wrapper {
                    background-color: $color-success;
                }
            }

            .news-info-wrapper {
                position: absolute;
                right: 3px;
                top: 3px;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        display: inline-block;
                        color: white;
                        background-color: rgba(0,0,0,0.3);
                        text-align: center;

                        .icon-wrapper {
                            padding: 3px 5px;
                            font-weight: 600;
                            font-family: $custom-font;
                            color: white;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }

            .news-description-wrapper {
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;

                @include with-animated-background(300ms);
                background-color: rgba($color-dark, 0.8);

                .news-text {
                    margin: 0;
                    padding: 0;
                    font-family: $custom-font;
                    color: $color-default;
                }
            }
        }

        .news.news-big {
            height: 230px;

            .news-description-wrapper {
                padding: 20px;

                .news-text {
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 30px;
                }
            }
        }

        .news.news-small {
            height: 150px;

            .news-description-wrapper {
                padding: 6px;

                .news-text {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }
}

.news-container-wide {

    .news-btns-wrapper {
        position: absolute;
        left: 5px;

        .btn {
            border-radius: 0;
        }
    }

    .news-info-wrapper {
        float: right;
        position: relative;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                color: white;
                background-color: rgba(0,0,0,0.3);
                text-align: center;

                .icon-wrapper {
                    padding: 3px 5px;
                    font-weight: 600;
                    font-family: $custom-font;
                    color: white;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .news {
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .news-content-wrapper {
        position: relative;
        width: 100%;
        top: 25px;
        box-shadow: 0 2px 30px -5px rgba(0,0,0,0.3);
        margin-bottom: 100px;

        &:hover {

            .news-description-wrapper {
                background-color: $color-success;
            }
        }

        .news-description-wrapper {
            width: 100%;
            padding: 20px;

            @include with-animated-background(300ms);
            background-color: rgba($color-dark, 0.8);

            .news-text {
                margin: 0;
                padding: 0;
                font-family: $custom-font;
                color: $color-default;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 30px;
            }
        }

        .news-content {
            background-color: white;
            padding: 20px;
            width: 100%;

            .content {
                font-family: $custom-font;
            }

            .social-media {
                padding: 10px 0;
                border-top: 1px solid #efefef;

                .item {
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                }

                .social-media-twitter {
                    top: 6px;
                }
            }
        }
    }
}

.side-section, .center-section {
    font-family: $custom-font;

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        border-bottom: 1px solid #efefef;
    }

    .btn {
        margin: 0;
        margin-bottom: 15px;
        padding: 5px;
    }
}

.side-section {
    .group-title-small {
        font-weight: 600;
        font-family: $custom-font;
    }
}

.filter-category-wrapper {
    font-family: $custom-font;

    .filters-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li.filter-item {
            color: white;
            display: inline-block;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;

            @include with-animated-background(300ms);

            a {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .generic-list {
        li.filter-item {
            background-color: $color-default;
            color: $color-dark;

            &:hover {
                background-color: darken($color-default, 10%);
            }
        }

        li.default-item {
            background-color: white;
            cursor: default;

            &:hover {
                background-color: white;
            }
        }
    }

    .authors-list {
        li.filter-item {
            background-color: $color-dark;

            &:hover {
                background-color: lighten($color-dark, 10%);
            }
        }
    }

    .tags-list {
        li.filter-item {
            background-color: $color-danger;

            &:hover {
                background-color: lighten($color-danger, 10%);
            }
        }
    }
}

.filter-summary-wrapper {
    font-family: $custom-font;
    margin-bottom: 10px;

    ul.filter-summary {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li.default-item {
            background-color: white;
            padding: 6px;
            padding-left: 0;
        }

        li.color-item {
            color: $color-dark;
            background-color: $color-default;
            padding: 6px;
        }

        li.filter-summary-item {
            display: inline-block;
            margin-right: 10px;
            font-size: 16px;

            a {
                color: $color-dark;
            }
        }
    }
}

.learning-container {
    .learning-hub {
        width: 100%;
        padding: 15px;
        padding-top: 40px;
        background-color: $color-default;
        margin-bottom: 20px;

        .learning-hub-title {
            color: $color-dark;
            width: 100%;
            font-family: $custom-font;
            font-weight: 800;
            line-height: 1.5;
            border-bottom: 1px solid $color-dark;
        }
    }
}

.group-basic-data-item {
    background-color: $color-dark;
    margin-bottom: 15px;
    font-family: $custom-font;
    padding: 4px 7px;
    color: white;
    box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);
    border-radius: 3px;

    @include with-animated-background(300ms);

    &:hover {
        background-color: darken($color-primary, 5%);
    }

    a {
        color: white;

        &:hover {
            text-decoration: none;
        }

        .content {
            position: relative;

            p {
                margin: 0;
                padding: 0;
            }

            p.group-title {
                font-weight: 600;

                @include wrap-dots();
            }

            ul.group-summary {
                margin: 5px;
                margin-left: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    background-color: $color-primary;
                    color: $color-default;
                    border-radius: 4px;
                    min-width: 50px;
                    padding: 0 5px;
                    text-align: center;
                    margin-right: 3px;
                }
            }

            .group-list-text-content {
                font-family: $custom-font;

                .group-name {
                    font-size: 20px;
                    font-weight: 600;
                    width: 100%;
                    border-bottom: 1px solid $color-primary;
                    padding-bottom: 10px;
                    margin-bottom: 5px;

                    @include wrap-dots();
                }

                .group-description {
                    margin-bottom: 10px;

                    @include wrap-dots();
                }

                .group-owner {
                    @include wrap-dots();
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.error-message-page {
    position: relative;
    top: 50px;
    padding: 10px;

    .error-message {
        font-family: "Open Sans", Helvetica, sans-serif;
        text-align: center;
    }

    .extra-content {
        margin-top: 50px;

        ul.pages-list {
            margin: 0;
            padding: 0;
            text-align: center;

            li.pages-list-item {
                display: inline-block;

                a.link {
                    color: white;

                    p {
                        width: 150px;
                        margin: 10px;
                        background-color: $color-dark;
                        color: white;
                        padding: 10px 20px;

                        @include with-animated-background(300ms);
                    }

                    &:hover {
                        p {
                            background-color: $color-success;
                        }
                    }
                }
            }
        }
    }
}

.search-control {
    font-family: $custom-font;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 0;
    height: 50px;

    &:focus {
        box-shadow: 0 5px 10px -5px rgba(0,0,0, 0.5);
    }
}

.form-controls-row {
    border: 1px solid #efefef;
    margin: 3px;
    margin-bottom: 10px;
    padding-top: 7px;
}

.group-access-container {
    margin-top: 15px;
    text-align: center;
    font-family: $custom-font;
}

.divider {
    height: 1px;
    display: block;
    margin: 10px auto;
    background: #efefef;
}

.divider-full {
    width: 100%;
}

.divider-medium {
    width: 75%;
}

.divider-half {
    width: 50%;
}

.group-basic-data-header {
    background-image: url('/common/images/groups/group-header-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: darken($color-dark, 5%);
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);

    @include with-animated-background(300ms);

    &:hover {
        background-color: darken($color-dark, 7%);
    }

    a {
        color: white;
        display: inline-block;
    }

    h3 {
        font-weight: 600;
    }

    h3, h4 {
        margin: 5px;
        margin-left: 0;
        padding: 0;
        font-family: $custom-font;
    }

    .extras {
        font-family: $custom-font;
        border: 1px solid $color-dark;
        background-color: rgba($color-dark, 0.5);
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 3px;

        .group-summary {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                background-color: $color-primary;
                color: $color-default;
                border-radius: 4px;
                min-width: 50px;
                padding: 0 5px;
                text-align: center;
                margin-right: 5px;
            }
        }
    }
}

.task-header {
    background-image: url('/common/images/tasks/task-header-default.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: darken($color-dark, 5%);
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    box-shadow: 0 11px 9px -10px rgba(0, 0, 0, 0.4);

    @include with-animated-background(300ms);

    &:hover {
        background-color: darken($color-dark, 7%);
    }

    a {
        color: white;
        display: inline-block;
    }

    h3 {
        font-weight: 600;
    }

    h3, h4 {
        margin: 5px;
        margin-left: 0;
        padding: 0;
        font-family: $custom-font;
    }

    .extras {
        font-family: $custom-font;
        border: 1px solid $color-dark;
        background-color: rgba($color-dark, 0.5);
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 3px;

        .group-summary {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                background-color: $color-primary;
                color: $color-default;
                border-radius: 4px;
                min-width: 50px;
                padding: 0 5px;
                text-align: center;
                margin-right: 5px;
            }
        }
    }
}

footer {
    clear: both;
    position: relative;
    height: $footer-height;
    margin-top: -$footer-height;
    width: 100%;
    background-color: $color-dark;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    a {
        color: $color-default;
        font-family: $custom-font;
        font-weight: 600;

        .beta-sign {
            color: $color-success;
        }

        &:hover {
            color: $color-default;
        }
    }
}

.itl-form {
    .radio {
        color: $color-dark;
        padding: 5px;
        border-radius: 4px;

        @include with-animated-background(300ms);

        &:hover {
            background-color: $color-default;
        }

        .radio-label {
            margin-left: 20px;
        }

        input[type=radio] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        $size: 15px;

        input[type="radio"] + span::before {
            content: '';
            display: inline-block;
            width: $size;
            height: $size;
            border-radius: 100%;
            margin-right: 0.75em;
            border: 2px solid gray;
            position: absolute;
            left: 22px;
            top: 8px;
        }

        input[type="radio"]:checked + span::before {
            background: $color-success;
            box-shadow: 0 2px 4px rgba($color-dark, 0.2);
        }
    }
}

.form-info-small {
    font-size: 10px;
}

.create-news-form {
    margin-bottom: 50px;
}

.news-image-upload-section {
    .img-placeholder {
        background-color: $color-default;
        text-align: center;

        p {
            margin: 0;
            color: $color-dark;
            font-family: $custom-font;
            font-weight: 600;
            padding: 50px 0;
        }
    }

    .btn {
        margin: 0;
        margin-bottom: 10px;
    }
}

.md-preview {
    padding: 10px 3px;
}
