<header style="background-color: #3c4669;">
    <div class="container-fluid">
        <h2>Zaloguj się</h2>
        <p>Dodatkowy opis podstrony</p>
    </div>
</header>
<section class="wrapper style5">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form role="form" asp-action="Login" asp-controller="Account">
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" placeholder="Jan Kowalski" name="Login"/>
                            <label>Hasło</label>
                            <input type="password" class="form-control" name="Password"/>
                            <button type="submit" class="btn btn-primary">Zaloguj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>