<header class="sliding-header">
    <div class="overlay"></div>
    <div class="header-wrapper">
        <h2 class="header-brand">
            <a asp-action="Index" asp-controller="Landing">IT Learning <span class="beta-sign">(beta)</span></a>
        </h2>
    </div>
    <div class="menu-wrapper">
        <h2 class="menu-title menu-title-toggle">
            <span><i class="fa fa-bars menu-icon"></i> Menu</span>
        </h2>
        <h2 class="menu-title-small menu-title-toggle">
            <span><i class="fa fa-bars menu-icon"></i></span>
        </h2>
        <nav class="menu">
            @Html.Partial("~/Views/Shared/Partials/SideMenu.cshtml")
        </nav>
    </div>
</header>