@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var appName = "IT Learning";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@appName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/app/src/lib/html5shiv/dist/html5shiv.js"></script><![endif]-->
    <link href="~/app/src/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/landing/main.css" rel="stylesheet" />
    <!--[if lte IE 8]><link href="~/css/landing/ie8.css" rel="stylesheet" /><![endif]-->
    <!--[if lte IE 9]><link href="~/css/landing/ie9.css" rel="stylesheet" /><![endif]-->
</head>
<body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a asp-action="Index" asp-controller="Home">Spectral</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Generic Page</h2>
                <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    @RenderBody()
                </div>
            </section>
        </article>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

    <environment names="Development">
        <script src="~/app/dist/jquery-package.js"></script>
        <script src="~/app/src/lib/skel/src/skel.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/app/dist/jquery-package.min.js"></script>
        <script src="~/app/src/lib/skel/dist/skel.min.js"></script>
    </environment>
    <script src="~/app/src/js/landing/util.js"></script>
    <!--[if lte IE 8]><script src="~/app/src/lib/respond/dest/respond.min.js"></script><![endif]-->
    <script src="~/app/src/js/landing/main.js"></script>


    @RenderSection("scripts", required: false)

</body>
</html>