@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var appName = "IT Learning";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@appName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="~/app/src/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/app/src/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            @RenderBody()
        </article>
    </div>

    @Html.Partial("~/Views/Shared/Partials/_BaseScripts.cshtml")
    <environment names="Development">
        <script src="~/app/src/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/app/src/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)

    <!-- Keep this at the end of scripts-->
    <!--[if lte IE 8]><script src="~/app/src/lib/html5shiv/dist/html5shiv.js"></script><![endif]-->
</body>
</html>