/* Bootstrap grid system: */
/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

$color-default: #fafafa;
$color-primary: #018ee0;
$color-danger: #ed4933;
$color-success: #21b2a6;
$color-warning: #ff8d00;
$color-dark: #2e3842;
$color-lime: #47FF5E;

$custom-font: "Open Sans", Helvetica, sans-serif;