<header style="background-color: #3c4669;">
    <div class="container-fluid">
        <h2>Zalogowano!</h2>
    </div>
</header>
<section class="wrapper style5">
    <div class="inner">
        <h3>Sukces</h3>
    </div>
</section>