<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <section class="user-profile-container">
                    <section class="user-data user-profile-section">
                        <div class="user-photo" style="background-image: url('http://opportunitylives.com/wp-content/uploads/2015/07/steve-jobs-young.png')"></div>
                        @{
                            //TODO: Po pierwszym zalogowaniu powinien tutaj być login
                        }
                        <p class="user-name">Tomasz Kowalski</p>
                    </section>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="top-items-container">
                    <div class="row top-items-row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a href="#" class="top-item">
                                <div class="top-item-content" style="background-image: url('/common/images/landing/pic03.jpg')">
                                    <div class="top-item-description">
                                        <p class="text">Spotkanie koła Reset 10.03.2015</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <a href="#" class="top-item">
                                <div class="top-item-content" style="background-image: url('/common/images/landing/banner.jpg')">
                                    <div class="top-item-description">
                                        <p class="text">Spotkanie koła Reset 10.03.2015</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row top-items-row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <a href="#" class="top-item">
                                <div class="top-item-content" style="background-image: url('/common/images/landing/pic01.jpg')">
                                    <div class="top-item-description">
                                        <p class="text">Spotkanie koła Reset 10.03.2015</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a href="#" class="top-item">
                                <div class="top-item-content" style="background-image: url('/common/images/landing/pic02.jpg')">
                                    <div class="top-item-description">
                                        <p class="text">Spotkanie koła Reset 10.03.2015</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>