<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="user-profile-container">
                    <section class="user-data user-profile-section">
                        <div class="user-photo" style="background-image: url('http://opportunitylives.com/wp-content/uploads/2015/07/steve-jobs-young.png')"></div>
                        @{
//TODO: Po pierwszym zalogowaniu powinien tutaj być login
                        }
                        <p class="user-name">Tomasz Kowalski</p>
                    </section>
                    <section class="user-achievements">
                        <div class="user-achievements-content">
                            <div class="content">

                            </div>
                        </div>
                        <ul class="user-achievements-tabs">
                            <li class="tab tab-primary active" data-tab="tab-primary" data-toggle="tooltip" data-placement="bottom" title="Edytuj profil">
                                <i class="fa fa-user"></i>
                            </li>
                            <li class="tab tab-success" data-tab="tab-success" data-toggle="tooltip" data-placement="bottom" title="Wykonane zadania">
                                <i class="fa fa-list"></i>
                            </li>
                            <li class="tab tab-warning" data-tab="tab-warning" data-toggle="tooltip" data-placement="bottom" title="Twoje wyniki">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="tab tab-danger" data-tab="tab-danger" data-toggle="tooltip" data-placement="bottom" title="Zadania do oceny">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="tab tab-dark" data-tab="tab-dark" data-toggle="tooltip" data-placement="bottom" title="Ustawienia strony głównej">
                                <i class="fa fa-cog"></i>
                            </li>
                        </ul>
                    </section>
                </section>
            </div>
            <div class="col-md-9">
                <h4 class="section-header section-header-success">IT Newsy</h4>
                <section class="section-container news-container">
                    <div class="row news-row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="news-link">
                                <article class="news news-big" style="background-image: url('/common/images/mocks/newsy/imaginecup.PNG')">
                                    <div class="news-social-wrapper">
                                        <ul>
                                            <li><div class="icon-wrapper" title="Polubiono 2 razy"><i class="fa fa-thumbs-o-up"></i> 2</div></li>
                                            <li><div class="icon-wrapper" title="Udostępniono 8 razy"><i class="fa fa-share"></i> 8</div></li>
                                        </ul>
                                    </div>
                                    <div class="news-description-wrapper">
                                        <p class="news-text">Imagine Cup 2015 - Relacja już jest!</p>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                    <div class="row news-row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#" class="news-link">
                                <article class="news news-small" style="background-image: url('/common/images/mocks/newsy/itad.jpg')">
                                    <div class="news-social-wrapper">
                                        <ul>
                                            <li><div class="icon-wrapper" title="Polubiono 6 razy"><i class="fa fa-thumbs-o-up"></i> 6</div></li>
                                            <li><div class="icon-wrapper" title="Udostępniono 3 razy"><i class="fa fa-share"></i> 3</div></li>
                                        </ul>
                                    </div>
                                    <div class="news-description-wrapper">
                                        <p class="news-text">IT Academic Day 2015</p>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#" class="news-link">
                                <article class="news news-small" style="background-image: url('/common/images/mocks/newsy/wbmii.PNG')">
                                    <div class="news-social-wrapper">
                                        <ul>
                                            <li><div class="icon-wrapper" title="Polubiono 9 razy"><i class="fa fa-thumbs-o-up"></i> 9</div></li>
                                            <li><div class="icon-wrapper" title="Udostępniono 2 razy"><i class="fa fa-share"></i> 2</div></li>
                                        </ul>
                                    </div>
                                    <div class="news-description-wrapper">
                                        <p class="news-text">Najnowsze informacje z WBMiI</p>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#" class="news-link">
                                <article class="news news-small" style="background-image: url('/common/images/landing/pic02.jpg')">
                                    <div class="news-social-wrapper">
                                        <ul>
                                            <li><div class="icon-wrapper" title="Polubiono 11 razy"><i class="fa fa-thumbs-o-up"></i> 11</div></li>
                                            <li><div class="icon-wrapper" title="Udostępniono 9 razy"><i class="fa fa-share"></i> 9</div></li>
                                        </ul>
                                    </div>
                                    <div class="news-description-wrapper">
                                        <p class="news-text">IT Learning startuje!</p>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                </section>
                <h4 class="section-header section-header-primary">IT Nauka</h4>
                <section class="section-container learning-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="learning-hub">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="learning-hub-title">NAJNOWSZE ZADANIA</h5>

                                        <itl-task-list no-of-tasks="5">
                                            <itl-loading-indicator dot-background="#333" 
                                                                   dot-size="15px" 
                                                                   loading-text="Ładuję najnowsze zadania..."></itl-loading-indicator>
                                        </itl-task-list>

                                        <a href="#" class="btn btn-default pull-right">Więcej</a>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="learning-hub-title">TWOJE GRUPY</h5>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="group-container" title=".NET ATH">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    .NET ATH
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="group-container" title="JAVA ATH">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    JAVA ATH
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="group-container" title="Frontend Bielsko-Biała">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    Frontend Bielsko-Biała
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <a href="#" class="btn btn-default pull-right">Więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>