@import '../mixins/validation.scss';
@import '../mixins/animations.scss';
@import '../mixins/utils.scss';
@import '../mixins/globals.scss';

.group-users-directive {
    margin-bottom: 50px;

    .users-list {
        height: 350px;
        border-radius: 3px;
        overflow-y: scroll;
        padding-right: 5px;

        .user-item {
            width: 100%;
            position: relative;
            font-weight: 600;
            font-family: $custom-font;
            padding: 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid #efefef;

            @include with-animated-background(300ms);

            &:hover {
                background-color: $color-default;
            }

            .row {

                .col-xs-4, .col-xs-8 {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                img {
                    border: 1px solid $color-primary;
                }

                .user-name {
                    @include wrap-dots();
                    position: absolute;
                    left: 0;
                    top: 20px;
                }
            }
        }
    }
}
