@import '../mixins/validation.scss';
@import '../mixins/animations.scss';
@import '../mixins/utils.scss';
@import '../mixins/globals.scss';

.group-users-directive {

    $item-height: 50px;

    a {
        color: $color-default;
    }

    .user-item {
        height: $item-height;
        background-color: $color-dark;
        width: 100%;
        position: relative;
        border-radius: 4px;
        font-weight: 600;
        font-family: $custom-font;
        margin-bottom: 10px;
        box-shadow: 0px 7px 4px -4px rgba(0, 0, 0, 0.3);

        @include with-animated-background(300ms);

        &:hover {
            background-color: lighten($color-dark, 10%);
        }

        .user-item-wrapper {
            overflow: hidden;

            .user-img-col {
                position: absolute;
                width: $item-height;
                height: $item-height;
                left: 2px;
                top: 2px;

                img {
                    width: 46px;
                    height: 46px;
                    border-radius: 4px;
                }
            }

            .user-name-col {
                position: absolute;
                height: $item-height;
                width: 100%;
                padding-left: 60px;
                left: 0;
                top: 0;

                p.user-name {
                    position: relative;
                    top: 14px;

                    @include wrap-dots();
                }
            }
        }
    }
}
