@model LoginViewModel

<div class="login-signup-background"></div>

<div class="lowered-form-wrapper form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="Login" asp-controller="Account" role="form">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span><i class="fa fa-info-circle"></i> | Zaloguj się w IT Learning</span>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(excludePropertyErrors: true)
                            <div class="form-group">
                                <label asp-for="Login" class="control-label">Login</label>
                                <input asp-for="Login" class="form-control" value="@Model.Login"/>
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Hasło</label>
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input type="checkbox" id="RememberMe" name="RememberMe" /> Zapamiętaj mnie
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right">Zaloguj się</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>