@model SignUpViewModel

<div class="login-signup-background"></div>

<div class="lowered-form-wrapper form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" asp-action="SignUp" asp-controller="Account">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span><i class="fa fa-info-circle"></i> | Załóż nowe konto w IT Learning</span>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(excludePropertyErrors: true)
                            <div class="form-group">
                                <label asp-for="Login" class="control-label">Login</label>
                                <input asp-for="Login" class="form-control" value="@Model.Login" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label">E-mail</label>
                                <input asp-for="Email" class="form-control" value="@Model.Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="row form-controls-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label">Hasło</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PasswordConfirmation" class="control-label">Potwierdź hasło</label>
                                        <input asp-for="PasswordConfirmation" class="form-control" />
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right">Załóż konto</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>